{% extends 'base.html' %}

{% block content %}

<br>
<h3 class="text-center">Ваша корзина</h3>
<br>
<table class="table">
    <tr>
        <td class="text-center"><strong>Товар</strong></td>
        <td class="text-center"><strong>Количество</strong></td>
        <td class="text-center"><strong>Цена</strong></td>
        <td class="text-center"><strong>Действие</strong></td>
    </tr>
    {% for item in cart.items.all %}
    <tr class="cart-item-{{ item.product.id }}">
        <td class="text-center">{{ item.product.title }}</td>
        <td class="text-center">
            <form action="" method="GET">
                <input class="form-control cart-item-count" data-id="{{ item.id }}" style="margin: 0 auto; width: 40%;" type="number" name="count" value="{{ item.count }}" min="1">
            </form>
        </td>
        <td class="text-center" id="cart-price-{{ item.id }}">{{ item.price }} руб.</td>
        <td class="text-center"><a href='#' class="del_to_cart" data-slug="{{ item.product.slug }}" data-id="{{ item.product.id }}"><button class="btn btn-danger">Удалить из корзины</button></a></td>
    </tr>
    {% endfor %}
</table>
<script>
$(document).ready(function(){
    $('.del_to_cart').on('click', function(e){
        e.preventDefault()
        product_slug = $(this).attr('data-slug')
        item_product_id = $(this).attr('data-id')
        data = {
            product_slug: product_slug
        }
        $.ajax({
            type: "GET",
            url: '{% url "del_to_cart" %}',
            data: data,
            success: function(data){
                $("#cart_count").html(data.cart_count)
                $('.cart-item-'+item_product_id).css('display', 'none')
            }
        })
    })
})
</script>
<script>
$(document).ready(function(){
    $('.cart-item-count').on('click', function(){
        count = $(this).val()
        item_id = $(this).attr('data-id')
        data = {
            count: count,
            item_id: item_id
        }
        $.ajax({
            type: "GET",
            url: '{% url "change_item_count" %}',
            data: data,
            success: function(data){
                $('#cart-price-'+item_id).html(parseFloat(data.price).toFixed(2) + ' руб.')
            }
        })
    })
})
</script>
{% endblock content %}